{% extends 'layouts/layout.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'layouts/admin-menu.twig' %}
        <main class="col py-3">
            <div class="container-fluid container-md p-5">
                <article class="container col-md-8 justify-content-center">
                    <div class="d-flex justify-content-around">
                        {% autoescape %}
                        <a href="{{ constant('SITE_ADRESS') }}/adminArticles/modifier/{{ id }}/{{ CSRF }}">
                            <button type="button" class="btn btn-outline-success"><i class="bi bi-check-circle-fill"></i> Modifier</button>
                        </a>
                        {% endautoescape %}
                        {% autoescape %}
                        <a href="{{ constant('SITE_ADRESS') }}/adminArticles/delete/{{ id }}/{{ CSRF }}">
                            <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i> Supprimer</button>
                        </a>
                        {% endautoescape %}
                    </div>
                    <h1 class="mt-5">{{ title }}</h1>
                    <h3 class="mb-5">{{ chapo }}</h3>
                    <div {% autoescape %}style="
                        background-image: url({{ constant('SITE_ADRESS') }}/public/uploads/article-{{ img }}.jpg);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
                        height: 600px;
                    "{% endautoescape %}> </div>
                    <p>Auteur : {{ first_name }} {{ last_name }}</p>
                    <p>Date : {{ created_at }}</p>
                    <p class="mt-5">
                        {% apply markdown_to_html %}
                            {{ content|nl2br }}
                        {% endapply %}
                    </p>              </article>
                <section><!-- start comments -->
                    <div class="container col-md-8 justify-content-center">
                        <div class="container">
                            <div class="bg-white text-dark">
                                <h4 class="mb-4 mt-2">Commentaires</h4>
                                {% for comment in comments %}
                                    <!-- validated comments -->
                                    {% if comment.status == 'validate' %}
                                        <div class="m-2 d-flex flex-column comment-section">
                                            <div class="shadow p-3 mb-3 bg-body rounded">
                                                <div class="d-flex flex-row user-info">
                                                    <img class="rounded-circle" {% autoescape %}src="{{ constant('SITE_ADRESS') }}/public/images/avatar/{{ comment.img_path }}" width="48">{% endautoescape %}                                         
                                                    <div class="d-flex flex-column justify-content-start ml-2">
                                                        <span class="d-block fw-bold text-success">{{ comment.pseudo }}</span>
                                                        <span class="date text-black-50">Publié le - {{ comment.created_at }}</span>
                                                    </div>
                                                </div>
                                                <div class="mt-2">
                                                    <p class="comment-text">{{ comment.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}<!-- End validated comments -->
                                {% endfor %}
                                {% for comment in comments %}
                                    <!-- pending comments -->
                                    {% if comment.status == 'pending' and comment.email == user.email%}
                                        <div class="m-2 d-flex flex-column comment-section">
                                            <div class="shadow p-3 mb-3 bg-body rounded">
                                                <div class="d-flex flex-row user-info">
                                                    <img class="rounded-circle" {% autoescape %}src="{{ constant('SITE_ADRESS') }}/public/images/avatar/{{ comment.img_path }}" width="48">{% endautoescape %}                                         
                                                    <div class="d-flex flex-column justify-content-start ml-2">
                                                        <span class="d-block fw-bold text-success">{{ comment.pseudo }}</span>
                                                        <span class="d-block text-danger">en attente de validation</span>
                                                    </div>
                                                </div>
                                                <div class="mt-2">
                                                    <p class="comment-text">{{ comment.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}<!-- End pending comments-->
                                {% endfor %}
                            </div>
                        </div>
                    </div>            
                </section><!-- end comments -->
                <section class="container col-md-8 justify-content-center mt-5 mb-5 d-flex justify-content-around">
                    {% autoescape %}
                    <a href="{{ constant('SITE_ADRESS') }}/adminArticles/modifier/{{ id }}/{{ CSRF }}">
                        <button type="button" class="btn btn-outline-success"><i class="bi bi-check-circle-fill"></i> Modifier</button>
                    </a>
                    {% endautoescape %}
                    {% autoescape %}
                    <a href="{{ constant('SITE_ADRESS') }}/adminArticles/delete/{{ id }}/{{ CSRF }}">
                        <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i> Supprimer</button>
                    </a>
                    {% endautoescape %}
                </section>
            </div>
        </main>
    </div>
</div>  
{% endblock %}