{% extends 'layouts/layout.twig' %}

{% block title %}
    <title>Tous les articles - {{ constant('SITE_NAME') }}</title>
{% endblock %}

{% block content %}
    <div class="container">
        <p>page {{ page }} / {{ totalPages }}</p>        
        <section class="container mt-5 news">
            <div class="row mt-3">
                <p class="green-txt mb-0 text-uppercase">Archives des articles</p>
                <h2 class="pb-5">Tous les articles</h2>
                {% for article in articles %}
                <article class="card mb-3 col-12 col-md-6 border-none">
                    {% autoescape %}
                    <img src="{{ constant('SITE_ADRESS') }}/public/uploads/article-{{ article.img }}.jpg" class="card-img-top" alt="...">
                    {% endautoescape %}
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">date : {{ article.created_at }}</small></p>
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.chapo }}</p>                        
                        <div  class="d-flex justify-content-between">
                            {% autoescape %}
                            <a href="{{ constant('SITE_ADRESS') }}/articles/numero/{{ article.id }}/{{ article.slug }}">
                            {% endautoescape %}
                                <button type="button" class="btn btn-light"><i class="bi bi-arrow-right-square"></i> lire plus...</button>
                            </a>
                            {% autoescape %}
                            <div>
                                <span>Catégorie: </span><a href="{{ constant('SITE_ADRESS') }}/articles/liste/{{ article.category }}/page-1">{{ article.category }}</a>
                            </div>
                            {% endautoescape %}
                        </div>                        
                    </div>
                </article>            
                {% endfor %}            
            </div>        
        </section><!--End articles list-->
        <nav aria-label="Articles list pages">
            <ul class="pagination justify-content-center">
                {% autoescape %}
                <li class="page-item {{ statePrev }}">
                    <a href="{{ constant('SITE_ADRESS') }}/articles/liste/tous/page-{{ prev }}" class="page-link"><i class="bi bi-caret-left-fill"></i></i></a>
                </li>
                {% for i in 1.. totalPages %}
                    <li class="page-item {% if i == page %} active{% endif %}">
                        <a href="{{ constant('SITE_ADRESS') }}/articles/liste/tous/page-{{ i }}" class="page-link">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {{ stateNext }}">
                    <a href="{{ constant('SITE_ADRESS') }}/articles/liste/tous/page-{{ next }}" class="page-link"><i class="bi bi-caret-right-fill"></i></i></a>
                </li>                    
                {% endautoescape %}
            </ul>
        </nav><!--End pagination-->
    </div>
{% endblock %}