
        <nav class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="{{ constant('SITE_ADRESS') }}/adminDashboard" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Admin</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a {% autoescape %}href="{{ constant('SITE_ADRESS') }}/adminDashboard"{% endautoescape %} class="nav-link align-middle px-0">
                            <i class="fs-4 bi-speedometer"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a {% autoescape %}href="{{ constant('SITE_ADRESS') }}/adminArticles/liste/tous/page-1/{{ CSRF }}"{% endautoescape %} class="nav-link align-middle px-0">
                            <i class="fs-4 bi-newspaper"></i> <span class="ms-1 d-none d-sm-inline">Articles</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a {% autoescape %}href="{{ constant('SITE_ADRESS') }}/adminComment/liste/{{ CSRF }}"{% endautoescape %} class="nav-link align-middle px-0">
                            <i class="fs-4 bi-back"></i> <span class="ms-1 d-none d-sm-inline">Commentaires</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a {% autoescape %}href="{{ constant('SITE_ADRESS') }}/adminCategory/liste/{{ CSRF }}"{% endautoescape %} class="nav-link align-middle px-0">
                            <i class="fs-4 bi-signpost-split-fill"></i> <span class="ms-1 d-none d-sm-inline">Catégories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a {% autoescape %}href="{{ constant('SITE_ADRESS') }}/adminUser/liste/{{ CSRF }}"{% endautoescape %} class="nav-link align-middle px-0">
                            <i class="fs-4 bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline">Membres</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ constant('SITE_ADRESS') }}/public/images/logo80px.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1"> Go to</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li>
                            <a class="nav-link" {% autoescape %}href="{{ constant('SITE_ADRESS') }}"{% endautoescape %}>
                                <button type="button" class="btn btn-warning btn-sm col-12">
                                    <i class="bi bi-globe"></i> Retour site
                                </button>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="nav-link" {% autoescape %}href="{{ constant('SITE_ADRESS') }}/membres/deconnexion"{% endautoescape %}>
                                <button type="button" class="btn btn-danger btn-sm col-12">
                                    <i class="bi bi-lightning-fill"></i> Déconnexion
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

